.left{
    float: left;
}

.right{
    float: right;
}

.left, .right{
    margin: .25em;
    padding: .25em;
}

body{
    font-size: 1.05em;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,Helvetica, Arial,sans-serif;
}

.box1{
    background-color: #D8D8D8;
    border: solid black;
    border-width: .1em;
    border-radius: 2em;
}


.flex{
    display: flex;

}

#box_four{
    flex: 4;
}

#intro_box{
    display: flex;
    flex: 4;
    margin: 1.2em;
    padding: 1.5em;
    text-align: center;
    justify-content: center;
    
}

#box{
    flex: 3;
}

#image_box{
    flex: 2;
    justify-content: center;
}

.banner_image{
    width:20em;
}

.social_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1
}

.flex_main{
    display: flex;
    
}

.flex_links{
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #EEEEEE ;
    /* font-family: 'Roboto Mono', monospace; */
}

h1{
    /* color:#3C4048; */
    color: black;
}

a{
    color:#404258;
}
a:hover{
    color: #0F3460;
}

.main{
    /* font-size: 1.5em; */
}

.social_button{
    margin: 1.5em;
    border-color: #0F3460;
    background-color: aqua;
    width: 7em;
    height: 3em;
    font-size: .8em;
}

.main_image{
    width: 30em;
    float: right;
}

.main_div{
    display: flex;
}

.main_div p {
    flex: 6;
    margin: 1em;
}

.main_image{
    flex: 2;
    margin: .5em;
}

hr{
    margin: 0;
}

footer{
    margin-top: 1em;
}

.box2{
    margin-bottom: 3em;
    margin-left: 1em;
}

.subheadings{
    color: black;
}

h1, h2, h3{
    font-family: 'Roboto Mono', monospace;
}