.left{
    float: left;
}

.right{
    float: right;
}

.left, .right{
    margin: .25em;
}

body{
    font-size: 1.05em;
}

.box1{
    background-color: #D8D8D8;
    border: black;
}


.flex{
    display: flex;

}

#box_four{
    flex: 4;
}

#box{
    flex: 1;
}

.flex_main{
    display: flex;
    
}

.flex_links{
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #EEEEEE ;
}

h1{
    color:#3C4048;
}

a{
    color:#404258;
}
a:hover{
    color: #0F3460;
}

.main{
    font-size: 1.5em;
}